.logout{
	background-color: #e9881a;
	color: #fff !important;
	border-radius: 30px;
}
.text-color{
	color: #293d8a;
}
.card-title {
    float: left;
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    color: #293d8a;
    position: relative;
}
.card-style{
	padding-top: 30px;
	padding-left: 20px
}
.card-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%, 18%);
    font-size: 35px;
    color: #293d8a;
}
.card-style p{
	color: #e9881a;
	padding-top: 20px;
	font-size: 18px;
}
.order-area ul{}
.order-area ul li{
	display: inline-block;
	padding-right: 15px;
}
.order {
    background: #fff;
    padding: 15px;
    box-shadow: 0px 1px 1px 1px #dcd4d4;
    margin-bottom: 1rem;
    border-radius: 5px;
    transition: 0.4s;
}
.order:hover{
	background: #293d8a;
	color: #fff;
	transition: 0.4s; 
}
.order:hover h3{color: #fff;}
.order:hover p{color: #fff;}
.order h3{
	color: #293d8a;
	font-size: 25px;
	font-weight: 400;
}
.order p{
	color: #e9881a;
	font-size: 16px;
}
.p-overview{
	background: #fff;
	box-shadow: 0px 1px 1px 1px #dcd4d4;
	padding-top: 10px;
	    margin-bottom: 10px;
	    border-radius: 5px;
}
.p-overview ul li h5{
	color: #e9881a;
}
.p-overview ul li img{
	padding-right: 20px;
	padding-left: 15px;
}
.p-overview ul li{
	display: inline-block;
}
.m-t-15{
	margin-bottom: 15px;
}
.total-active{
	background: #e9881a;
}
.total-active h3,.total-active p{
	color: #fff;
}
.text-color span{color: #b3b3b3;}
.action-btn {
    background: #fff;
    padding: 5px 10px;
    color: #293d8a;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 1px 1px 1px #dcd4d4;
}
.btn-custom {
    background: #e9881a;
    border-color: #e9881a;
    padding: 8px 40px;
    border-radius: 30px;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}
.edit-cat a img{
	padding-right: 25px;
}
.act-btn{
    padding: 5px 10px;
}
.pro-image{
	padding: 93px 0;
}
.modal-image{
	padding: 20px 0;
}
.image{
	position: relative;
}
.dot{
	position: absolute;
    width: 20px;
    height: 20px;
    background: #1cff00;
    left: 50%;
    bottom: 15%;
    border-radius: 50%;
    border: 2px solid #000000;
}
.image img{
    width: 150px;
    height: 150px;
}
.m-25{
    margin-bottom: 25px;
}
.table th, .table td {
    padding: 0rem;
    padding-bottom: 5px;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}